body {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    align-items: center;
    margin-top: 50px;
}

h1 {
    font-size: 50px;
    color: plum;
    text-shadow: 0 0 10px plum;
}

#grid {
    background-color: plum;
    height: 1000px;
    width: 1000px;
    display: flex;
    flex-wrap: wrap;
}

.cell {
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.cell-level1 {
    width: 100px;
    aspect-ratio: 1;
}

.cell-level2 {
    width: calc(100% / 9);
    aspect-ratio: 1;
}

.cell-level3 {
    width: calc(100% / 7);
    aspect-ratio: 1;
}

.bgc-sky {
    background-color: skyblue;
}